body {
background-image: url("images/bg.jpg");
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
}

header{
text-align: center;
 font-weight:bolder;
 font-size: 20px;
background-color:black;
color :cyan;
border: 5px red solid;
margin: 5px;
}

h1{
background-color: lightblue; 
border: solid 3px;
text-align: center;
}

h4{
color: blue;

}

li{
color:black;
 font-weight:bolder;
 font-size:18px; 
}

p.one{
border-style:inset;
color: red
 }

p  {
font-size:15px; 
font-family:arial white, Helvetica, sans-serif;
 font-weight:bolder;
line-height:18px;
color: black;
}

ul{
list-style-type: square;
}

button{
	background-color: black;
	border-radius: 15px;
	color: lightblue;
	width: 100px;
	height: 40px;

}

#content{
	margin-left: 150px; 
	margin-top: -200px;
	padding-right: 800px;
}
